<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Creche Madre Mazzarello</title>

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
    <link rel="shortcut icon" href="/img/icone.png" type="image/x-icon" />

    <!-- Custom styles for this template -->
    <link href="/css/business-casual.min.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
      <div class="container">
        <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" type="button" data-toggle="collapse" 
        data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">Mais</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" th:href="@{/}">Início</a>
            </li>
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" th:href="@{/creche}">Informações
                <span class="sr-only">(current)</span>
              </a>
            </li>
           
            <li class="nav-item active px-lg-4">
              <a class="nav-link text-uppercase text-expanded" th:href="@{/creche/atividades}">Atividades</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <br>
    
    <h1 class="site-heading text-center text-white">
      <span class="site-heading-upper text-primary mb-3">Creche Madre Mazzarello</span>
      <span class="site-heading-lower">Atividades com Crianças</span>
    </h1>

    
  

    <section class="page-section about-heading">
      <div class="container">
        <div class="about-heading-content">
          <div class="row">
            <div class="col-xl-9 col-lg-10 mx-auto">
              <div class="bg-faded rounded p-5">
                <h2 class="section-heading mb-4">
                  <span class="section-heading-upper"></span>
                  <span class="section-heading-lower">Manhã</span>
                </h2>
                <p>As crianças são recebidas as <b>7:30h</b> na quadra da escola onde acontece a acolhida, com músicas, histórias, apresentações e muita alegria. 
                  Cada dia uma educadora é responsável por organizar esta acolhida. Após esta atividade, as três turmas de 3 anos se dirigem para o 
                  refeitório onde se inicia nosso café da manhã e as outras turmas seguem para sala de aula e em um segundo momento descem para o 
                  café onde é oferecido alimentos nutritivos, como, leite, achocolatado, vitaminas, biscoitos, bolos e pães.
                  Ao término do café, cada educadora segue para sua sala de aula e desenvolvem as atividades que foram planejadas para o dia.</p>
                
              </div>
            </div>
          </div>
        </div>
      </div> <br>
    </section>

    <section class="page-section about-heading">
      <div class="container">
        <div class="about-heading-content">
          <div class="row">
            <div class="col-xl-9 col-lg-10 mx-auto">
              <div class="bg-faded rounded p-5">
                <h2 class="section-heading mb-4">
                  <span class="section-heading-upper"></span>
                  <span class="section-heading-lower">Almoço</span>
                </h2>
                <p>Após as atividades nos espaços citados acima, de <b>10h as 11:30h</b> acontece o horário de almoço. 
                  Com um cardápio variado e acompanhado pela nutricionista da PBH (Prefeitura de Belo Horizonte). Para que isso aconteça de forma correta as crianças fazem 
                  higienização das mãos antes e depois das refeições e também garantimos que as mesmas façam a escovação dos dentes após as refeições. 
                  Todos os dias segue na agenda da criança um recadinho com toda a alimentação servida na instituição para acompanhamento da família.</p>
                
              </div>
            </div>
          </div>
        </div>
      </div><br>
    </section>

    <section class="page-section about-heading">
        <div class="container">
          <div class="about-heading-content">
            <div class="row">
              <div class="col-xl-9 col-lg-10 mx-auto">
                <div class="bg-faded rounded p-5">
                  <h2 class="section-heading mb-4">
                    <span class="section-heading-upper"></span>
                    <span class="section-heading-lower">Descanço</span>
                  </h2>
                  <p>De <b>11h as 13h</b> as crianças entram no período do sono, o que favorece a digestão e recarrega as energias para o restante do dia. 
                    Cada uma tem seu lençol e colchonete individual e estão sempre com a presença de uma ou duas educadoras para acompanhar este período. 
                    Lembrando que cada criança tem sua singularidade e hábitos que trazem de casa, por isso, forçar um momento de dormir não é natural e nem 
                    apropriado se os pequenos não querem ou não tem o hábito.</p>
                  
                </div>
              </div>
            </div>
          </div>
        </div><br>
      </section>

      <section class="page-section about-heading">
          <div class="container">
            <div class="about-heading-content">
              <div class="row">
                <div class="col-xl-9 col-lg-10 mx-auto">
                  <div class="bg-faded rounded p-5">
                    <h2 class="section-heading mb-4">
                      <span class="section-heading-upper"></span>
                      <span class="section-heading-lower">Tarde</span>
                    </h2>
                    <p>De <b>13:30h as 14h</b>, após o período do sono, as crianças recebem um lanche como: uma fruta, suco, 
                      biscoitos e retomam as atividades de acordo com os planejamentos pré-estabelecidos. 
                      Acontece também as trocas de fraldas e banhos caso seja necessário.</p>
                    
                  </div>
                </div>
              </div>
            </div>
          </div><br>
        </section>

        <section class="page-section about-heading">
            <div class="container">
              <div class="about-heading-content">
                <div class="row">
                  <div class="col-xl-9 col-lg-10 mx-auto">
                    <div class="bg-faded rounded p-5">
                      <h2 class="section-heading mb-4">
                        <span class="section-heading-upper"></span>
                        <span class="section-heading-lower">Jantar</span>
                      </h2>
                      <p>De <b>15h as 15:30h</b> começamos a servir o jantar, que chamamos de prato único, onde servimos alimentos como: sopa, canjiquinha, macarronada, 
                        arroz temperado, etc. Após o jantar as crianças brincam livremente no parquinho, e com brinquedos que foram disponibilizados com antecedência. 
                        Retornam para sala de aula e ouvem músicas, histórias, recontam histórias e organizam os espaços da sala de aula e seus pertences. 
                        Descem para a quadra e aguardam seus familiares.</p>
                      
                    </div>
                  </div>
                </div>
              </div>
            </div><br>
          </section>

          <section class="page-section about-heading">
              <div class="container">
                <div class="about-heading-content">
                  <div class="row">
                    <div class="col-xl-9 col-lg-10 mx-auto">
                      <div class="bg-faded rounded p-5">
                        <h2 class="section-heading mb-4">
                          <span class="section-heading-upper"></span>
                          <span class="section-heading-lower">Despedida</span>
                        </h2>
                        <p>Nosso portão é aberto as <b>16:15h</b>, pois é momento onde a educadora tem um contato com os pais ou responsáveis e vice-versa. 
                          Para que a criança seja liberada, é necessário a que a família apresente a carteirinha da criança ou, caso tenham esquecido, 
                          procurem a secretaria para assinar o formulário se responsabilizando pela saída da criança da creche.</p>
                        <p>“Se a educação sozinha não transforma a sociedade, sem ela tampouco a sociedade muda”!<br>
                        (Paulo Freire)</p>
                        
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            
    <footer class="footer text-faded text-center py-5">
      <div class="container">
        <p class="m-0 small">Copyright &copy; Creche Madre Mazarrello</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

  <style>
    body {font-family: Arial;}
    
    /* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: rgba(230,167,86,.9);
  text-align: center;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: rgba(230,167,86,.9);
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 12px 25px;
  transition: 0.3s;
  font-size: 17px;
  text-align: center;
}

#butao{
  text-align: center;
}

.tablinks{
  text-align: center;
}


/* Change background color of buttons on hover */
.tab button:hover {
  background-color: rgb(255, 255, 255);
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: rgba(228, 204, 172, 0.9);
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  background-color: antiquewhite;
}
</style>


</html>
