<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Creche Mazzarello - Registrar</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css}"/>  
	<link rel="stylesheet" type="text/css" th:href="@{https://use.fontawesome.com/releases/v5.8.2/css/all.css}"/>  	
	<script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
	<script th:src="@{https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js}"></script>
</head>

<body>
	<div class="container">
	  <div class="row">
		<div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
		  <div class="card card-signin my-5">
			<div class="card-body">
			  <h5 class="card-title text-center">Login</h5>
			  <form th:action="@{/registrar}" th:object="${user}" method="POST" class="form-signin" role="form">
				
					<div class="form-label-group">
						<label th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="validation-message"></label>
						<input type="text" id="name" th:field="*{name}" name="email" class="form-control" th:placeholder="Nome" required autofocus>
						<label for="name">Nome</label>
					</div>

					<div class="form-label-group">
							<label th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="validation-message"></label>
							<input type="text" th:field="*{lastName}" id="lastName" name="lastName" class="form-control" th:placeholder="Sobrenome" required autofocus>
							<label for="lastName">Sobrenome</label>
					</div>

					<div class="form-label-group">
						<input type="email" th:field="*{email}" id="email" name="email" class="form-control" th:placeholder="Email" required autofocus>
						<label for="email">Email</label>
						<div class="d-flex justify-content-center">
								<span style="font-size: 20; color: #FF1C19;" class="label label-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
						</div>
					</div>
		
					<div class="form-label-group">
						<input type="password" th:field="*{password}" id="password" class="form-control"  name="password" th:placeholder="Senha" required>
							<label for="password">Senha</label>
							<div class="d-flex justify-content-center">
								<span style="font-size: 20; color: #FF1C19;" class="label label-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
							</div>
					</div>

					<div class="form-label-group" th:if="${param.error}">
						<p style="font-size: 20; color: #FF1C19;">Email ou Senha invalido(s)</p>
					</div>
					
					<button class="btn btn-warning btn-lg btn-primary btn-block text-uppercase" name="Submit" value="register" type="Submit" th:text="Registrar">Registrar</button>
					<div class="d-flex justify-content-center">
							<span style="font-size: 20; color: rgb(69, 172, 59);" class="label label-success" th:utext="${successMessage}"></span>
					</div>
					<hr class="my-4">
				</form>
			  <form th:action="@{/login}" method="get">
			  	<button class="btn btn-primary btn-lg btn-block text-uppercase" type="submit">Página de Login</button>
			  </form>
			  
			</div>
		  </div>
		</div>
	  </div>
	</div>
  </body>
</html>